/* Import Google font - Poppins */
@import url('./css/third.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 45px;
    width: 45px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    background: #006fa0;
    transition: all 0.2s ease;
}

.resizer {
    position: absolute;
    z-index: 10;
}
.resizer.top {
    top: -5px;
    left: 0;
    right: 0;
    height: 10px;
    cursor: ns-resize;
}
.resizer.right, .resizer.bottom {
display: none;
}
.resizer.left {
    top: 0;
    left: -5px;
    bottom: 0;
    width: 10px;
    cursor: ew-resize;
}
body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #fff;
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: absolute;
    right: 35px;
    bottom: 80px;
    width: 580px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.maximized {
    width: 940px !important;
    right: 30px;
}

.chatbot header {
    padding: 10px 0!important;
    position: relative;
    text-align: center;
    color: #fff;
    background: #006fa0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chatbot header h4 {
    font-size: 1.4rem;
}

.chatbot header .icon-container {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.chatbot header .icon-container span {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
}

.chatbot header .icon-container span.hide {
    display: none;
}

.chatbox {
    overflow-y: auto;
    height: 370px;
    padding: 30px 20px 100px;
    background: #ffff;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 20px;
}

.chatbox .chat .initial-chat {
    display: flex;
    align-items: center;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 100%;
    color: #fff;
    font-size: 0.75rem;
    background: #724ae8;
    word-break: break-all;
}

.chatbox .outgoing {
    align-items: flex-end;
}

.chatbox .incoming .initial-chat span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    background: #724ae8;
    border-radius: 4px;
    margin-right: 10px;
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
    color: #000;
    background: #f2f2f2;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.icon-container {
    display: flex;
    justify-content: flex-start; /* Align icon to the left */
    margin-top: 5px;
}

.copy-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8%;
}

.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #756f6f;
    display: flex;
    align-items: center;
}

.copy-btn-text {
    font-size: 11px;
    margin-left: 3px;
    color: #756f6f;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
    font-size: 15px;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: #724ae8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }
    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }
    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
        padding: 5px 15px;
    }
    .chatbot header span {
        display: block;
    }
}

.typing-indicator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.typing-indicator span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #ccc;
    border-radius: 50%;
    opacity: 0;
    animation: blink 1.4s infinite;
}

.typing-indicator span:nth-child(1) {
    animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.maximize-btn {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    display: block;
    font-size: 1.2rem;
}

.expand-icon,
.collapse-icon {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
}

.collapse-icon.hide {
    display: none;
}